
.road {
    width: 100%;
    height: 30px; /* Height for the road */
    background: #333; /* Solid color for the road */
    position: absolute;
    bottom: 15px; /* Ensure the road is at the bottom */
    left: 0;
    overflow: hidden; /* Hide overflowing road lines */
  }
  
  .road::before {
    content: '';
    position: absolute;
    width: 200%; /* Double the width for smooth animation */
    height: 100%;
    background: repeating-linear-gradient(
      to right,
      #333,
      #333 30px,
      #FFF 30px,
      #FFF 60px
    );
    animation: move-road 4s linear infinite;
  }
  
  @keyframes move-road {
    0% {
      transform: translateX(-30%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
 
.road-sign {
    position: absolute;
    bottom: 60px; /* Adjust as needed to position above the road */
    width: 29px;
    height: 40px;
    background: linear-gradient(135deg, #d7370e, #feb47b); /* Gradient background */
    border: 2px solid #fff; /* White border */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* White text color */
    text-transform: uppercase; /* Uppercase text */
    animation: glow .2s ease-in-out infinite; /* Add animation for the road sign and glow effect */
    margin-left: -1.4cap;
    /* margin: auto; */
  }

  

  .road-sign-pole {
    position: absolute;
    bottom: 5px; /* Adjust as needed to position inside the road */
    left: 100%; /* Center the pole horizontally */
    width:4px;
    height: 60px;
    background: #9b9b9b; /* Pole color */
   
    display: flex;
    justify-content: center;
    align-items: start;   /* Align the sign at the top of the pole */
    animation: move-sign-pole 8s linear infinite; /* Add animation for the road sign */
  }
  
  /* @keyframes move-sign {
    0% {
      transform: translateX(-1000%);
    }
    100% {
      transform: translateX(0);
    }
  } */
    
  @keyframes move-sign-pole {
    0% {
      transform: translateX(-100000%);
    }
    100% {
      transform: translateX(0);
    }
  } 

  
@keyframes glow {
    0%, 100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 126, 95, 0.5), 0 0 30px rgba(255, 126, 95, 0.5), 0 0 40px rgba(255, 126, 95, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgb(255, 64, 16), 0 0 40px rgb(255, 56, 7), 0 0 50px rgb(248, 56, 8);
    }
  }