.AboutSelfContainer {
    border-radius: 20px 120px;
}


.aboutMomContainer {
    background-color: rgb(0, 0, 0);
    background: url(https://i.pinimg.com/736x/6e/e1/91/6ee19142a58f28b93766a9f44663a540.jpg);
    background-blend-mode: multiply;
}