.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 5s ease;
  max-width: max-content;
  overflow: hidden; 
  height: 600px;
  margin: auto;
  
}

.containerShifted {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 900px;
  transition: transform 2s ease; 
  
}

.section {
  margin: 50px;
  transition: all 2s ease;
  width: 600px;
}

.sectionShifted {
  width: 1000px;
  align-items: flex-start;
  transition: all 2s ease;
  
}

.specs {
  width: 100%; /* Ensure the map takes full width */
  height: 400px;
  transition: all 2s ease;
  margin: 20px;

}



.map {
  width: 60%;
  height: 400px;
  transition: all 2s ease;
  margin: 20px;
  margin-left: 20%;
  justify-content: center;
  
  

}

.heading {
  color: #ffffff;
  margin-bottom: 10px;
}

.input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #374151;
  color: #ffffff;
}

.icon {
  margin-left: 2px;
  margin-bottom: -5px;
}



.iconSvg {
  width: 30px;
  height: 30px;
  color: #ffffff;
  transition: transform 0.3s ease, fill 0.3s ease, box-shadow 0.3s ease;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}
.iconSvg:hover {
  transform: scale(1.2);
  color: #ff0000;
  filter: drop-shadow( 2px 2px 5px rgba(255, 0, 0, 0.5));
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #1e1e1e;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerShifted {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(0); /* Reset transform for small screens */
    height: 1000px;
  }

  .section, .sectionShifted {
    width: 90%;
    margin: 20px;
    margin-left: 15%;
  }

  .map {
    height: 300px;
  }

  .input {
    width: 80%;
  }

  .iconSvg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .section, .sectionShifted {
    width: 100%;
    margin: 10px;
  }

  .map {
    height: 200px;
  }

  .input {
    width: 100%;
  }

  .iconSvg {
    width: 20px;
    height: 20px;
  }
}