.app {
    margin: 20px;
}
.primary-button {
    background-color: #007BFF; /* Primary color */
    color: white;
}
.primary-button:hover {
    background-color: #0056B3; /* Darker shade for hover */
}
.glow-hover {
    transition: text-shadow 1s ease-in-out;
}
.glow-hover:hover {
    text-shadow: 0 0 10px #007BFF; /* Add a glow effect on hover */
}
.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .section.appear {
    opacity: 1;
    transform: translateY(0);
  }
  

.vehicles-container {
    background-color: black;
}

/* card */
#card{
    margin-top: -150px;

}

#card {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 100px;
}

@keyframes fade-in {
    from {
        scale: .8; opacity: 0;
    }
    to {
        scale: 1; opacity: 1;
    }
}





img, #cardtitle, #cardtext {
    z-index: 10;
}

#cardtitle {
    text-align: center;
}

/* Motobike */
#motobike {
    border: 10px solid gray;
    border-radius: 50px 0 50px 0;
    display: grid;
     cursor: pointer;
     position: relative;
}

#motobike {
    overflow: hidden;
}

#motobike::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background: linear-gradient(to right, gold, blue);
    transform: rotate(45deg);
}

#motobike:hover::before {
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#motobike::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #000000;
    border-radius: 50px 0 50px 0;
}

#motobike {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from {
        scale: .8; opacity: 0;
    }
    to {
        scale: 1; opacity: 1;
    }
}



/* car */
#car {
    border: 10px solid gray;
    border-radius: 50px 0 50px 0;
    display: grid;
     cursor: pointer;
     position: relative;
}


#car {
    overflow: hidden;
}

#car::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background: linear-gradient(to right, gold, blue);
    transform: rotate(45deg);
}

#car:hover::before {
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#car::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #000000;
    border-radius: 50px 0 50px 0;
}

#car {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from {
        scale: .8; opacity: 0;
    }
    to {
        scale: 1; opacity: 1;
    }
}







/* Mini-Van */
#minivan {
    border: 10px solid gray;
    border-radius: 50px 0 50px 0;
    display: grid;
     cursor: pointer;
     position: relative;
}


#minivan {
    overflow: hidden;
}

#minivan::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background: linear-gradient(to right, gold, blue);
    transform: rotate(45deg);
}

#minivan:hover::before {
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#minivan::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #000000;
    border-radius: 50px 0 50px 0;
}

#minivan {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from {
        scale: .8; opacity: 0;
    }
    to {
        scale: 1; opacity: 1;
    }
}






/* Truck */
#truck {
    border: 10px solid gray;
    border-radius: 50px 0 50px 0;
    display: grid;
     cursor: pointer;
     position: relative;
}


#truck {
    overflow: hidden;
}

#truck::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background: linear-gradient(to right, gold, blue);
    transform: rotate(45deg);
}

#truck:hover::before {
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#truck::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #000000;
    border-radius: 50px 0 50px 0;
}

#truck {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from {
        scale: .8; opacity: 0;
    }
    to {
        scale: 1; opacity: 1;
    }
}


