.TermsOfServices {
    background: url(https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png);
    background-blend-mode: multiply;
    background-color: rgb(184, 47, 47);
    /* color: white; */
    border-radius: 100px;
}