<<<<<<< HEAD
=======
.main_frame{
    margin: auto;
    width: 80%
    
}

div{ 
    border: red dotted 1px;
}
.main_body{
    width: 100%;
}

.nav{
    padding: 8px;
    background-color: white;
    border: red dotted 1px;
    border-radius: 10px;
    justify-content: space-between;
}

#logo{
    height: 200px;
    width: 250px
   
}
.top_row_left{

}
.top_row_middle{
    text-align: center;
    width: 20rem;
}
.top_row_right{
    
}

.top_middle{
    
}
.bottom_middle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 100%;
    height: 80%;
}
.body{
    display: flex;
    flex-direction: row;
}
>>>>>>> 3c8956b83c354f274babf5552bb6084b620a0194
