:root {
    --background-color: white;
    --text-color:black ;
  }
  
  [data-theme="dark"] {
    --background-color:rgb(0, 0, 0);
    --text-color: white;
 
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }